p 1{
    width: 512px;
}

p 2{
    width: 512px;
    }

body {
    background-image: url("img/background.png") ;
    background-size: cover;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-size: contain;
    }