p 1{
    width: 512px;
}

p 2{
    width: 512px;
    }

div img {
  background: url("/img/background.png") no-repeat;
  background-size: cover;
  background-size: 50% 50%;
  background-size: 100px 40px;
  background-size: contain;
}
