body {
   width: 512px;
    }

.titolo-principale {
   text-align: center;

   } 

h1 {
   text-align: center;

}

.card1 {
   margin: 80px 50px;
   background-size: cover;
   border-radius: 60px;

   }


svg {
  height: 10%;
}